<!DOCTYPE html>
<html lang="eng">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="not-found">
      <h1>404 - whoops!</h1> 
      <h2>the page does not exist</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>