<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="about">
        <h1>Welcome to the About page!</h1>
        <p>this app will eventually allow them to add new quotes to the database, see those quotes, and even delete them!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>