<div class="site-title">
    <a href="/"><h1>Navigation</h1></a>
    <p>A BitDegree Site</p>
</div>
<ul>
    <li><nav><a href="/index.ejs">Home page</a></nav></li>
    <li><nav><a href="/random.ejs">Random page</a></nav></li>
    <li></li><nav><a href="/about.ejs"> About page</a></nav></li>
    <li></li><nav><a href="/404.ejs"></a>404 page</nav></li>
    <li></li><nav><a href="/quotes/create.ejs"></a>Create page</nav></li>
</ul>